<template>
  <h2>Posts by author "{{$route.params.authorname}}"</h2>
  <searchbar @filter="filter" />
  <PostList :posts="posts" />
</template>

<script>
import {useRoute} from "vue-router";
import Searchbar from "../components/Searchbar";
import PostList from "../components/PostList";
import usePosts from "../composables/usePosts";
import useFilterPosts from "../composables/useFilterPosts";

export default {
  name: "PostsByAuthor",
  components: {PostList, Searchbar},
  // eslint-disable-next-line no-unused-vars
  setup(props) {
    const route = useRoute();

    let {posts, preparePosts} = usePosts({author: route.params.authorid});

    const {filteredPosts, filter} = useFilterPosts(posts, preparePosts);

    return {
      posts: filteredPosts,
      filter
    };
  }
}
</script>

<style scoped>

</style>