<template>
  <h2>All Posts</h2>
  <searchbar @filter="filter" />
  <PostList :posts="posts" />
</template>

<script>
import Searchbar from "../components/Searchbar";
import PostList from "../components/PostList";
import usePosts from "../composables/usePosts";
import useFilterPosts from "../composables/useFilterPosts";

export default {
  name: "Posts",
  components: {
    PostList,
    Searchbar
  },
  setup() {
    let {posts, preparePosts} = usePosts();

    const {filteredPosts, filter} = useFilterPosts(posts, preparePosts);

    return {
      posts: filteredPosts,
      filter
    };
  }
}
</script>