<template>
  <h2>Posts by tag "{{$route.params.tag}}"</h2>
  <searchbar @filter="filter" />
  <PostList :posts="posts" />
</template>

<script>
import {useRoute} from "vue-router";
import Searchbar from "../components/Searchbar";
import PostList from "../components/PostList";
import usePosts from "../composables/usePosts";
import useFilterPosts from "../composables/useFilterPosts";

export default {
  name: "PostsByTag",
  components: {PostList, Searchbar},
  setup() {
    const route = useRoute();

    let {posts, preparePosts} = usePosts({tag: route.params.tag});

    const {filteredPosts, filter} = useFilterPosts(posts, preparePosts);

    return {
      posts: filteredPosts,
      filter
    };
  }
}
</script>

<style scoped>

</style>