<template>
  <label>Filter by</label>
  <input type="text" name="q" id="q" placeholder="Keyword" v-model="q" />
  <select name="user" id="user" v-model="user" v-if="this.$route.path.indexOf('posts-by-author') == -1">
    <option value="">select owner</option>
    <option v-for="user in this.ownerUsers" :key="user.id" :value="user.id">{{user.firstName + ' ' + user.lastName}}</option>
  </select>
  <input type="date" name="publishdate" id="publishdate" v-model="publishdate" />
</template>

<script>
import {fetchPosts} from "../fetchPosts";

export default {
  name: "Searchbar",
  emits: ["filter"],
  data() {
    return {
      ownerUsers: [],
      q: "",
      user: "",
      publishdate: ""
    }
  },
  methods: {
    emitEvent() {
      this.$emit("filter", {keyword: this.q, user: this.user, publishdate: this.publishdate});
    }
  },
  watch: {
    q() {
      this.emitEvent();
    },
    user() {
      this.emitEvent();
    },
    publishdate() {
      this.emitEvent();
    }
  },
  mounted() {
    const jsonDate = fetchPosts();

    jsonDate.forEach((item) => {
      if(this.ownerUsers.find(i => i.id == item.owner.id) == undefined) {
        this.ownerUsers.push(item.owner);
      }
    });
  }
}
</script>

<style scoped>
  input, select {
    padding: 5px;
    margin-left: 5px;
  }
</style>